<footer>
  <div class="container clearfix">
    <p class="pull-left">
      created by programmer in training<a href="http://twitter.com/juvern"> Ju-Vern See</a>
    </p>
    <p class="pull-right">
      part of the <a href="http://github.com/jewelsjv">"Building something"</a> project</p>
  </div>  <!-- /.container -->
</footer>
